ul.design-module-selector
	list-style none 
	margin 0
	padding 0
	li.design-module-tile
		background #f2f2f2
		border white 4px solid 
		box-sizing border-box
		color #666
		float left
		font-size 18px
		line-height 100px
		margin 0
		padding 0
		text-align center
		width (100% / 6)
		@media(max-width: 1000px)
			line-height 80px
			width (100% / 3)
		@media(max-width: 768px)
			line-height 60px
			width (100% / 2)
		&:hover
			background darken(#f2f2f2, 5%) 
			cursor pointer
		&.active
			background white
			border-color main-color
			cursor pointer
			color #444 
			
.design-module-forms
	.design-module-form
		display none
		&.active
			display block