.view-controls-container
	border-bottom border-color 1px solid 
	padding 20px 10px
	.search-bar-wrapper
		border border-color 1px solid
		display inline-block
		padding-left 50px 
		position relative
		.search-bar-button
			border-right border-color 1px solid 
			left 0
			line-height 40px
			position absolute 
			top 0
			text-align center
			width 50px
			transition(all 0.2s linear)
			&:hover
				background border-color
				cursor pointer 
		.search-bar
			border none
			line-height 20px
			padding 10px 20px 
			width 220px
			&:focus
				outline 0
				
	.module-controls
		float right
		list-style none 
		margin 0
		padding 0
		.module-control
			border border-color 1px solid
			line-height 40px
			text-align center 
			width 50px 
			transition(all 0.2s linear)
			&:hover
				background border-color
				cursor pointer 
			&.add-module-button
				color #666