.view-controls-container
	border-bottom border-color 1px solid 
	padding 20px 10px
	.search-bar-wrapper
		border border-color 1px solid
		display inline-block
		margin 10px 0 
		padding-left 50px 
		position relative
		@media(max-width: 568px)
			width 100% 
		.search-bar-button
			border-right border-color 1px solid 
			left 0
			line-height 40px
			position absolute 
			top 0
			text-align center
			width 50px
			transition(all 0.2s linear)
			&:hover
				background border-color
				cursor pointer 
		.search-bar
			border none
			line-height 20px
			padding 10px 20px 
			width 260px
			@media(max-width: 568px)
				width 100% 
			&:focus
				outline 0
				
	.module-controls
		list-style none 
		margin 10px 0
		padding 0
		@media(max-width: 568px)
			width 100% 
		.module-control
			border border-color 1px solid
			text-align center 
			min-width 30px 
			@media(max-width: 568px)
				width 100% 
			a
				color #666
				display block 
				line-height 40px
				padding 0 10px 
				text-decoration none
				transition(all 0.2s linear)
				i
					margin-right 5px
				&:hover
					background border-color