.tender-form
	background-color white
	border border-color 1px solid
	min-height 200px
	margin-top 30px
	padding 20px
	text-align left
	.form-group
		&:last-child
			margin-bottom 0px !important
		.form-control
			margin 0
			max-width 100%
			text-align left
	.dropzone-container
		border border-color 1px solid
		border-radius 4px
