/vendor
/node_modules
Homestead.yaml
Homestead.json
.env

storage/framework/views/*
/public/css/*
public/img/uploads/**
public/img/brand/**
public/uploads/**

**/.DS_Store
resources/assets/stylus/variables.styl
