/vendor
/node_modules
Homestead.yaml
Homestead.json
.env

/assets/**/*

storage/framework/views/*
/public/css/**
/public/js/**
public/img/uploads/**
public/img/brand/**
public/uploads/**
bower_components/**

**/.DS_Store
resources/assets/stylus/variables.styl

resources/views/deployment
config/custom-pages.php

resources/assets/stylus/deployment/home.styl
