[submodule "packages/xmovement-translations"]
	path = resources/lang
	url = ssh://git@github.com:edjenkins/xmovement-translations.git

[submodule "packages/xmovement-deployments"]
  path = packages/deployment
  url = ssh://git@github.com:edjenkins/xmovement-deployments.git
