/vendor
/node_modules
Homestead.yaml
Homestead.json
.env

/assets/**/*

public/js/vendor.js
public/js/vendor.js.map

storage/framework/views/*
/public/css/**
/public/js/**
public/img/uploads/**
public/img/brand/**
public/uploads/**
bower_components/**

**/.DS_Store

resources/views/deployment/*
resources/assets/stylus/deployment/*


config/custom-pages.php
config/design-tasks.php

resources/assets/stylus/deployment/home.styl

public/js/vendor.js

public/js/vendor.js.map

public/js/vendor.js

config/bugsnag.php

resources/lang
packages/deployment

packages/deployment/deployment/composer.json

public/js/angular-dependencies.js

public/js/angular-dependencies.js.map
