[submodule "translations"]
	path = resources/lang
	url = https://github.com/edjenkins/xmovement-translations.git
[submodule "deployments"]
	path = packages/deployment
	url = https://github.com/edjenkins/xmovement-deployments.git
