[submodule "packages/xmovement-translations"]
	path = resources/lang
	url = https://github.com/edjenkins/xmovement-translations.git

[submodule "packages/xmovement-deployments"]
  path = packages/deployment
  url = https://github.com/edjenkins/xmovement-deployments.git
