ul.contribution-options-list
	list-style none
	margin 10px
	padding 0
	li
		border-bottom #e1e1e1 1px solid
		font-size 15px 
		line-height 80px
		margin 0
		padding 0 20px
		padding-left 55px 
		padding-right 80px 
		position relative
		transition(all 0.2s linear)
		&:last-child
			border-bottom none
		.contribution-option-user
			background border-color
			background-position center
			background-repeat no-repeat
			background-size cover 
			border none
			border-radius 20px
			height 40px
			width 40px
			position absolute
			left 0
			top 20px
				
		.value
			color #444
			font-size 1.2em 
		.vote-container.contribution-option-vote-container
			line-height 80px  
			position absolute
			right 0
			top 0
			width 70px 
			.vote-count
				line-height 80px 
				text-align center 
				position absolute
				right 40px
				top 0
				width 30px 
			.vote-controls
				height 80px
				width 40px
				position absolute
				right 0
				top 0
				.vote-button
					height 30px
					width 40px
					line-height 30px
					position absolute
					text-align center
					i
						position relative
						right 0
					&:hover
						cursor pointer
					&.vote-up
						top 10px
					&.vote-down
						top 40px
						
.submit-contribution-option-container
	border border-color 1px solid 
	margin 20px 10px
	padding-right 100px 
	padding-left 105px 
	position relative
	.flat
		background #CCC
		position absolute
		left 5px
		top 5px
		padding 4px 
		width 100px 
		div
			background main-color
	input#text-contribution
		border none
		box-sizing border-box
		color #444
		display inline 
		padding 15px 
		width 100%
		&:focus
			outline 0
	button#submit-button
		background main-color
		border none
		color white
		display inline
		padding 15px 0
		position absolute
		text-align center 
		width 100px 
		right 0
		top 0
		&:hover
			background darken(main-color, 10%) 