// XMStyles

.xmovement-tile
	box-sizing border-box
	float left
	padding 10px
	text-align center
	width calc(100% / 3)
	@media(max-width: 600px)
		width 100%
	transition(all 0.2s linear)
	a
		text-decoration none
	.tile-body
		background white
		border border-color 1px solid
		display table
		height 140px
		padding 0 20px
		width 100%
		transition(all 0.2s linear)
		.vertically-aligned-text
			display table-cell
			vertical-align middle
			text-align center
			width 100%
			h4
				color #444
				line-height 1.4em
				margin 5px 0
				padding 0
				word-break break-word
				i
					color inherit
			p
				color #AAA
				margin 5px 0
				padding 0
				i
					color inherit
		&:hover
			cursor pointer
			background main-color
			.vertically-aligned-text
				h4, p, i
					color white
		.tile-footer p
			color main-color
	.tile-footer
		min-height 44px
		padding 0
		transition(all 0.2s linear)
		p
			color #999
			line-height 40px
			margin 0
			padding 0
		.design-task-vote-container
			.vote-count
				display inline
				line-height 40px
				text-align center
				width 60px
			.vote-button
				display inline-block
				height 30px
				width 60px
				line-height 30px
				text-align center
				&.vote-up
					top 10px
				&.vote-down
					top 40px
