.vote-container
	line-height 80px
	position absolute
	right 0
	top 0
	width 70px
	.vote-count
		line-height 80px
		text-align center
		position absolute
		right 40px
		top 0
		width 30px
	.voting-locked
		color #999
		line-height 80px
		text-align center
		position absolute
		right 0
		top 0
		width 30px
	.vote-controls
		height 80px
		width 40px
		position absolute
		right 0
		top 0
		.vote-button
			height 30px
			width 40px
			line-height 30px
			position absolute
			text-align center
			i
				position relative
				right 0
			&:hover
				cursor pointer
			&.vote-up
				top 10px
			&.vote-down
				top 40px
