#fileinput-button
	background white
	border #ccc 2px solid  
	color #999
	margin 10px 0
	position relative
	overflow hidden
	&:hover
		background-color main-color
		border-color main-color 
		color white 
		cursor pointer
	
#fileinput-button input
	position absolute
	top 0px
	right 0px
	left 0px
	bottom 0px 
	margin 0
	opacity 0
	-ms-filter 'alpha(opacity=0)'
	direction ltr
	cursor pointer
	
#cc-search-field
	border none
	line-height 24px 
	outline none
	padding 12px 20px
	width 260px
	
#cc-search-button
	position absolute
	margin 0
	padding 12px
	right 0px
	top 0px 
	i
		color #CCC
	&:hover
		i
			color success-color
			
#cc-search-results
	list-style none
	margin 40px 0
	padding 0
	.cc-search-result
		float left
		list-style none
		margin 0
		padding 0
		background-size cover
		background-position center center
		background-repeat no-repeat
		border white 5px solid
		padding-bottom 22%
		height 0px
		width 33%
		&:hover
			border success-color 5px solid
			cursor pointer
		&.selected
			border success-color 5px solid
#progress
	border-radius 16px
	display none
	height 12px
	margin 20px

#files
	margin 20px 0
	img
		display inline-block
		max-height 120px
		max-width 120px  