// XMStyles

.flash
	background main-color
	color white
	font-size 1.2em
	line-height 84px
	padding 0 10px
	position fixed
	text-align center
	z-index 1000
	top 0px
	left 0px
	right 0px
	.flash-dismiss
		height 84px
		width 84px
		position absolute
		top 0
		right 0
		text-align center
		i
			color white
			line-height 60px

	&.flash-success
		background darken(success-color, 5%)
		color white
		.flash-dismiss
			&:hover
				cursor pointer
				background-color darken(success-color, 10%)

	&.flash-warning
		background darken(warning-color, 5%)
		color white
		.flash-dismiss
			&:hover
				cursor pointer
				background-color darken(warning-color, 10%)

	&.flash-danger
		background darken(danger-color, 5%)
		color white
		.flash-dismiss
			&:hover
				cursor pointer
				background-color darken(danger-color, 10%)
