.hero-container
	background-color hero-background-color
	background-size cover
	background-position center
	background-repeat no-repeat
	padding 170px 20px 150px 20px
	position relative
	margin-top -20px
	.text-container
		position relative
		z-index 1
	.black-overlay
		background-color hero-overlay-color
		position absolute
		top 0
		bottom 0
		left 0
		right 0
		z-index 0
