// main: app.styl

.modal
	.modal-dialog
		max-width 500px
		.modal-content
			border-radius 6px
			border none
			-webkit-box-shadow none
			box-shadow none
			.modal-header
				text-align center
				padding 20px
			.modal-body
				padding 20px
				text-align center
			.modal-footer
				border-top none
				padding 20px
				text-align center


// Support modal
.modal
	.g-recaptcha > div > div
		margin 0 auto
	.nav-tabs
		border none
		display inline-block
		margin 0 auto
		text-align center
		li
			display inline-block
			a
				border none
				font-size 1.3em
				&:hover
					background none
					border none
					color darken(main-color, 20%)
					cursor pointer
			&.active a
				font-weight bold
				&:hover
					color #666
	.tab-content
		margin-top 10px
