// XMStyles

.tile.proposal-tile
	background white
	border border-color 1px solid
	display block
	height 260px
	margin 30px auto 0 auto
	max-width 360px
	position relative
	.avatar-wrapper
		padding-top 15px
		position relative
		text-align center
		.avatar
			background light-grey
			background-size cover
			background-position center
			background-repeat no-repeat
			border-radius 50%
			margin 0 auto
			height 80px
			width 80px
	.tile-body
		background #fff
		overflow hidden
		padding 20px
		text-align center
		transition(all linear 0.2s)
		h5
			color #333
			font-size 15px
			margin-top 0
			padding-top 0
			white-space nowrap
		p
			color #999

	.tile-footer
		background white
		border-top border-color 1px solid
		color white
		padding 0
		position absolute
		bottom 0
		text-align center
		width 100%
		transition(all 0.2s linear)
		a
			color #999
			display block
			line-height 50px
		&:hover
			background-color main-color
			border-top main-color 1px solid
			cursor pointer
			a
				color white
				text-decoration none
