.idea-progress-bar
	border-radius 6px
	margin 15px
	overflow hidden
	position relative
	.ipb-phase
		background-color #d9d9d9
		color #666
		float left
		height 40px
		position relative
		width calc(100% / 3)
		animate()
		i.fa-lock
			margin-left 6px
		i.fa-arrow-right
			color white
			font-size 2em
			line-height 40px
			position absolute
			text-align center
			top 0
			z-index 1
			width 50px
			&.left-arrow
				left -25px
			&.right-arrow
				right -25px
		&.ipb-open, &.ipb-locked
			background-color main-color
			color white
		&:hover
			background-color darken(#d9d9d9, 10%)
			text-decoration none
			&.ipb-open, &.ipb-locked
				background-color darken(main-color, 10%)
		.ipb-label
			text-align center
			width 100%
			.ipb-label-text
				color inherit
				line-height 40px
