// XMStyles

.tile.idea-tile
	background white
	border border-color 1px solid
	display block
	height 400px
	margin 15px auto
	max-width 360px
	position relative
	transition(all linear 0.2s)
	.tile-image
		border-bottom border-color 1px solid
		background-position center
		background-repeat no-repeat
		background-size cover
		-webkit-background-size cover
		-o-background-size cover
		display block
		height 0
		padding-bottom 60%
	.inner-container
		overflow hidden
		padding 10px 20px
		a.idea-name
			color #555
			font-size 18px
			margin 0
			padding 5px 0
			word-wrap break-word
		p.idea-author
			color #CCC
			font-size 14px
			margin 0
			padding 0
			word-wrap break-word
			a
				color #CCC
		p.idea-description
			color #999
			padding 5px 0
			word-wrap break-word
	.tile-footer
		background white
		border-top border-color 1px solid
		bottom 0
		min-height 50px
		position absolute
		text-align center
		width 100%
		.phase-progress
			background-color rgba(0, 0, 0, 0.05)
			background-color main-color
			position absolute
			height 1px
			top -1px
			// bottom 0
			left 0
			right 30%
		p
			color #CCC
			line-height 50px
			margin 0
			padding 0 20px

.mini-tile
	border-bottom border-color 1px solid
	display block
	height auto
	padding 15px 0
	max-width 360px
	overflow hidden
	position relative
	transition(all linear 0.2s)
	.inner-container
		h4, p
			color #999
			white-space nowrap
			.fa
				margin-right 6px
	&:hover
		color main-color
		cursor pointer
