// Idea tile
.tile.idea-tile
	border border-color 1px solid
	display block
	height 400px
	margin 15px auto
	max-width 360px
	overflow hidden
	position relative
	transition(all linear 0.2s)
	&.mini-tile
		height auto
		&:hover
			background #f9f9f9
	&:hover
		cursor pointer
	.tile-image
		background-color #f1f1f1
		background-position center
		background-repeat no-repeat
		background-size cover
		-webkit-background-size cover
		-o-background-size cover
		height 0
		padding-bottom 60%
	.inner-container
		overflow hidden
		padding 10px 20px
		h4
			color #555
		p
			color #999
	.tile-footer
		background white
		bottom 0
		position absolute
		width 100%
		p
			margin 0
			padding 15px 20px


.idea-tile.mini-tile
	border-bottom border-color 1px solid
	display block
	padding 15px 0
	max-width 360px
	overflow hidden
	position relative
	transition(all linear 0.2s)
	.fa
		margin-right 6px
	&:hover
		color main-color
		cursor pointer
