// View event
.banner-row
	background-color white
	color #333 
	margin-top -20px 
	padding 20px
	position relative
	a
		color #333
		
.column
	margin-top 15px
	min-height 400px 
	
.main-column
	.section-header
		font-size 1.4em 
		font-weight 400 
		margin-top 40px 
	.idea-media
		margin-bottom 20px 
	p.idea-description
		border-left main-color 4px solid
		font-size 18px
		padding 20px

.side-column
	.creator-tile
		background #f2f2f2
		border #f2f2f2 2px solid 
		padding 20px 
		text-align center
		transition(all linear 0.2s)
		.creator-avatar
			bacground-position center
			background-size cover
			background-repeat no-repeat 
			border-radius 60px
			margin 5px auto
			height 120px
			width 120px
		h4
			color #444
			font-size 1.5em  
			line-height 20px 
			margin 0
			padding 10px 10px
		h5
			color #999
			font-size 16px 
			margin 0
			padding 5px 10px
		
		&:hover
			background white
			border main-color 2px solid 
			cursor pointer

.action-button
	.btn
		border none 
		color white
		font-size 16px 
		margin-bottom 10px 
		padding 12px 24px
		width 100% 
		&:hover
			cursor pointer
	.btn-primary
		background-color main-color
		&:hover
			background-color darken(main-color, 10%)
	.btn-warning
		background btn-warning-color 
		&:hover
			background-color darken(btn-warning-color, 10%)
		 
.stats-tile
	background #f2f2f2 
	list-style none
	margin 15px 0
	padding 20px 20px
	text-align center
	h3
		font-size 42px 
		font-weight bolder
		margin 0
		padding 5px 10px
	h5
		color #999
		font-size 16px 
		margin 0
		padding 5px 10px		 