// XMStyles

.banner-row
	background-color white
	color #333
	margin-top -20px
	padding 20px
	position relative
	a
		color #333

.column
	margin-top 15px
	min-height 400px

.main-column
	.section-header
		font-size 1.4em
		font-weight 400
		margin-top 40px
	.idea-media
		background-position center
		background-repeat no-repeat
		background-size cover
		height 0
		margin-bottom 15px
		padding-bottom 40%
		position relative
	p.idea-description
		border-left main-color 4px solid
		font-size 18px
		padding 20px

.side-column
	.creator-tile
		border border-color 1px solid
		padding 20px
		text-align center
		transition(all linear 0.2s)
		.creator-avatar
			background-color light-grey
			bacground-position center
			background-size cover
			background-repeat no-repeat
			border-radius 60px
			margin 5px auto
			height 120px
			width 120px
		h4
			color #444
			font-size 1.5em
			line-height 20px
			margin 0
			padding 10px 10px
		h5
			color #999
			font-size 16px
			margin 0
			padding 5px 10px

		&:hover
			background white
			border-color main-color
			cursor pointer

.stats-tile
	border border-color 1px solid
	list-style none
	margin 15px 0
	padding 0
	text-align center
	h3
		font-size 42px
		font-weight bolder
		margin 0
		padding 20px 20px 5px 20px
	h5
		color #999
		font-size 16px
		margin 0
		padding 5px 20px 20px 20px
	.stats-tile-footer
		background light-grey
		color #999
		display none
		padding 6px 10px
		&.visible
			display block
		p
			margin 0
			padding 0

.proposals-container
	margin-bottom 20px
	.proposals-wrapper
		.col-md-4
			padding 0
			&:nth-child(1)
				padding 0 15px 0 0
			&:nth-child(2)
				padding 0 15px
			&:nth-child(3)
				padding 0 0 0 15px
