// XMStyles

.banner-row
	background-color white
	color #333
	margin-top -20px
	padding 20px
	position relative
	a
		color #333

.column
	margin-top 15px
	min-height 400px

.main-column
	.notification
		background-color light-grey
		margin-bottom 10px
		padding 15px 60px 15px 20px
		position relative
		p
			color #666
			font-size 16px
			line-height 20px
			margin 0
			padding 0
		.close-notificaiton-button
			height 50px
			line-height 50px
			width 50px
			position absolute
			top 0
			right 0
			text-align center
			animate()
			i
				color #999
			&:hover
				background-color darken(light-grey, 10%)
				cursor pointer

	.section-header
		height 60px
		margin-top 40px
		h2
			float left
			font-size 1.4em
			font-weight 400
			line-height 60px
			margin 0
			padding 0
		a
			float right
			font-size 1.0em
			font-weight 400
			line-height 60px
			margin 0
			padding 0
	.idea-media
		background-color border-color
		background-position center
		background-repeat no-repeat
		background-size cover
		height 0
		margin-bottom 15px
		padding-bottom 40%
		position relative
	p.idea-description
		border-left main-color 4px solid
		font-size 18px
		padding 20px
		word-wrap break-word

.side-column
	.creator-tile
		border border-color 1px solid
		padding 20px
		text-align center
		transition(all linear 0.2s)
		.creator-avatar
			background-color border-color
			bacground-position center
			background-size cover
			background-repeat no-repeat
			border-radius 60px
			margin 5px auto
			height 120px
			width 120px
		h4
			color #444
			font-size 1.5em
			line-height 20px
			margin 0
			padding 10px 10px
			word-wrap break-word
		h5
			color #999
			font-size 16px
			margin 0
			padding 5px 10px

		&:hover
			background white
			border-color main-color
			cursor pointer

ul.sidebar-social-links
	cleanlist()
	border border-color 1px solid
	border-top none
	box-sizing border-box
	margin-bottom 15px
	li
		cleanlist()
		box-sizing border-box
		float left
		font-size 20px
		height 50px
		line-height 50px
		text-align center
		width 25%
		animate()
		i
			color #999
			animate()
		&:hover
			cursor pointer
			i
				color white
		&.share-fb:hover
			background-color #3B5998
			border-color #3B5998
		&.share-twitter:hover
			background-color #4099ff
			border-color #4099ff
		&.share-googleplus:hover
			background-color #d34836
			border-color #d34836
		&.share-email:hover
			background-color #4875B4
			border-color #4875B4

.stats-tile
	border border-color 1px solid
	list-style none
	margin 15px 0
	margin-bottom 0px
	padding 0
	text-align center
	h3
		font-size 42px
		font-weight bolder
		margin 0
		padding 20px 20px 5px 20px
	h5
		color #999
		font-size 16px
		margin 0
		padding 5px 20px 20px 20px
	.stats-tile-footer
		background light-grey
		color #999
		display none
		padding 6px 10px
		&.visible
			display block
		p
			margin 0
			padding 0

.info-tile
	list-style none
	margin 0
	padding 0
	text-align center
	.info-tile-content
		color #999
		padding 6px 10px
		p
			margin 0
			padding 0
			i
				margin-right 6px

.proposals-container
	margin-bottom 20px
	.proposals-wrapper
		.col-md-4
			padding 0
			&:nth-child(1)
				padding 0 15px 0 0
			&:nth-child(2)
				padding 0 15px
			&:nth-child(3)
				padding 0 0 0 15px
