// XMStyles

animate()
  -webkit-transition all 0.2s ease-in-out
  -moz-transition all 0.2s ease-in-out
  -o-transition all 0.2s ease-in-out
  transition all 0.2s ease-in-out

transition()
  -webkit-transition arguments
  -moz-transition arguments
  -o-transition arguments
  transition arguments

clearfloat()
	clear both
	float none

cleanlist()
	list-style none
	margin 0
	padding 0
