// XMStyles

.hero-container
	background-color rgba(50,10,10,1)
	background-size cover
	background-position center
	background-repeat no-repeat
	padding 170px 20px 150px 20px
	position relative
	margin-top -20px
	.text-container
		position relative
		z-index 1
	.black-overlay
		background-color rgba(30,0,0,0.4)
		position absolute
		top 0
		bottom 0
		left 0
		right 0
		z-index 0

.about-container
	background-color #f2f2f2
	border-bottom border-color 1px solid
	padding 20px 0
	.about-summary-tile
		background transparent
		border none
