// XMStyles

.hero-container#home-hero-container
	background-color home-hero-background-color
	background-position home-hero-background-position
	.black-overlay
		background-color home-hero-overlay-color

.about-container
	background-color white
	border-bottom border-color 1px solid
	padding 20px 0
	.about-summary-tile
		background transparent
		border none
