.hero-container#terms-hero-container
	background-color terms-hero-background-color
	.black-overlay
		background-color terms-hero-overlay-color

.terms-row
	position relative
	margin-top -40px

.terms-tile
	background white
	border border-color 1px solid
	margin 20px auto
	padding 40px
	text-align left
	img
		height 60px
		margin-bottom 15px
	h3, p
		margin 0
		padding 0
	h3
		color dark-font-color
		margin 0 0 10px 0
		&#privacy
			padding-top 120px
	p, li
		color #777
		font-size 1.1em
		margin 20px 0
